/* 设置整个页面的背景颜色 */
body {
    background-color: cadetblue;
    font-family: "Gill Sans MT",STXingkai,"Gill Sans", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    align-items: center;
    justify-content: center;
    background: url("https://starry-lixu.oss-cn-hangzhou.aliyuncs.com/202209141908599.jpg") fixed no-repeat;
    background-size: cover;
}

form {
    width: 1200px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 10px #cccccc;
}
.btn {
    border-style: none;
    border-color: inherit;
    background-color: cadetblue;
    font-size: 16px;
    color:azure;
    font: 500;
    font-family: "Gill Sans MT",STXingkai,"Gill Sans";
    padding: 1px;
    width: 60px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    top: 6px;
    left: -1px;
    height: 30px;
}

    .btn:after {
        content: "";
        background: #90EE90;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    .btn:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }


