<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
   
  </system.web>

  <connectionStrings>
    <add name="SQlConnectionString" connectionString="Data Source=(local);Initial Catalog=NetSchool;Persist Security Info=True;User ID=sa;Password=2998554809"
      providerName="System.Data.SqlClient" />
    <add name="NetSchoolConnectionString" connectionString="Data Source=localhost;Initial Catalog=NetSchool;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  


</configuration>